/* html,
body {
  margin: 0;
  padding: 0;
} */

/* use viewport-relative units to cover page fully */
/* body {
  height: 100vh;
  width: 100vw;
} */

/* include border and padding in element width and height */
/* * {
  box-sizing: border-box;
}  */

/* full-sized  container that fills up the page */
/* example padding, font-size, background, etc */
/* div {
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: lightskyblue; 
} */

.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 1px 3px 1px gray; */
    margin: 100px;
}




