.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.sign-in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 1px 3px 1px gray; */
    /* margin: 100px; */
    margin-top: 275px;
}

.mp-profile-page {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  /* box-shadow: 1px 1px 3px 1px gray; */
  margin: 100px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.new-encounter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.landing-page-card {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 100px; */
  margin-top: 325px;
}

* span {
  text-align: center;
}

.mp-profile {
  margin: 50px;
}

.patient-index {
  margin: 35px; 
}

.search-title {
  text-align: center;
}

.pt-details-button {
  margin-left: 70px;
  margin-bottom: 25px;
}

.pt-assign-button {
  margin-left: 5px;
  margin-bottom: 25px;
}

.mp-profile-button {
  margin-left: 45%;
  margin-top: 25px;
}

.encounter-form-button {
  margin-left: 45%;
}

.landing-page-button {
  margin: 2px;
}

.sign-in-button {
  margin-left: 38%
}

.sign-up-button {
  margin-left: 35%
}

.mp-image {
  display: flex;
  margin-left: 450px;
  margin-top: 200px
}

.encounter-details-button {
  margin-left: 165px;
  margin-bottom: 25px;
}

.update-account-button {
  margin-left: 27%
}

.delete-account-button {
  margin-left: 5px
}

/* html,
body {
  margin: 0;
  padding: 0;
} */

/* use viewport-relative units to cover page fully */
/* body {
  height: 100vh;
  width: 100vw;
} */

/* include border and padding in element width and height */
/* * {
  box-sizing: border-box;
}  */

/* full-sized  container that fills up the page */
/* example padding, font-size, background, etc */
/* div {
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: lightskyblue; 
} */




